<div class="modal" id="editUserModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <h5>Name Surname:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalUserFullname">Ahmet</p>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-3">
                            <h5>Email:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalUserEmail">test@gmail.com</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <h5>Role:</h5>
                        </div>
                        <div class="col-md-9 " id="modalUserRole">
                            {# Buraya rol için section elementi gelecek js tarafından... #}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <h5>Verify:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalUserVerify">Yes</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <h5>Last Login:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalUserLastLogin"></p>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-3">
                            <h5>Created At:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalUserCreatedAt"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-danger" id="editModalDeleteUser" data-bs-dismiss="modal">Delete User</button>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>