<div class="modal" id="editUserModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="edit-fullname" class="col-form-label">Name Surname:</label>
                        <input type="text" class="form-control" id="edit-fullname"/>
                    </div>
                    <div class="mb-3">
                        <label for="edit-url" class="col-form-label">E-mail:</label>
                        <input type="url" class="form-control" id="edit-url" readonly="readonly"/>
                    </div>
                    <div class="mb-3">
                        <label for="edit-short-url" class="col-form-label">Last Login Date:</label >
                        <input type="text" class="form-control" id="edit-short-url" readonly="readonly"/>
                    </div>
                    <div class="mb-3">
                        <label for="edit-left-time" class="col-form-label">Total Link:</label >

                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-danger" data-bs-target="#deleteUserModal" data-bs-toggle="modal">Delete User</button>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>