<div class="modal" id="editLinkModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Name:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalLinkName">Ahmet</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <h5>Link:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalLink">http://example.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Short Link:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalShortLink">http://example.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>View:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalViewLink">http://example.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Created Date:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalCreatedAtLink">http://example.com</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <h5>Left Time:</h5>
                        </div>
                        <div class="col-md-9">
                            <p id="modalLeftTime">3 day After</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-danger" id="editModalDeleteLink" data-bs-dismiss="modal">Delete Link</button>
                </div>
                <div>
                    <button type="button" class="btn btn-info" id="copyEditLinkBtn">
                        📋 Short Link
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>