<div class="container mt-5 py-5">
    <div class="p-3 text-center mt-4 rounded-5 bg-body-tertiary">
        <img src="images/logo-2.png" class="rounded mx-auto d-block" width="300" height="" 300" alt=" ..."=" ...""="..." "">
        <h1 class="text-body-emphasis">URL Shorter App</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Come on, discover the safest and fastest way to shorten links! Elegant, simple, and secure. Start now, experience the ease of shortening links! Click now and shorten!
        </p>
        <div class="d-inline-flex mb-5">
            <a href="/login" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Let's Shorten
            </a>
        </div>
    </div>
</div>