{% extends "layouts/base.html" %}

{% block title %}
    Contact
{% endblock %}
{% block header %}
    {% if is_header %}
        {% include "layouts/_header.html" %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row flex-lg-row-reverse align-items-center mt-5 g-5 py-5">
        <div class="col-md-6 col-lg-6">
            <img src="images/contact.jpeg" class="img-fluid rounded" alt="Contact Form">
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="text-center">
                <div class="h1 fw-light">Contact Form</div>
                <p class="mb-4 text-muted">Split layout contact form</p>
            </div>
            <form class="needs-validation" id="contactForm" novalidate="" autocomplete="off">

                <!-- Name Input -->
                <div class="mb-3">
                    <label class="mb-2 text-muted" for="fullname">Name Surname</label>
                    <input class="form-control" id="fullname" name="nameSurname" type="text" placeholder="Name Surname" required="required">
                    <div class="invalid-feedback">Name Surname is required.</div>
                </div>

                <!-- Email Input -->
                <div class="mb-3">
                    <label class="mb-2 text-muted" for="emailAddress">Email Address</label>
                    <input class="form-control" id="emailAddress" name="email" type="email" placeholder="Email Address" required="required">
                    <div class="invalid-feedback">Email Address is required.</div>
                </div>

                <!-- Message Input -->
                <div class="mb-3">
                    <label class="mb-2 text-muted" for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" type="text" placeholder="Message" style="height: 10rem;" required="required"></textarea>
                    <div class="invalid-feedback">Message is required.</div>
                </div>

                <!-- Submit button -->
                <div class="d-grid">
                    <button class="btn btn-primary btn-lg" id="submitContactButton" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script_files %}
    <script src="js/auth.js"></script>
{% endblock %}