{% extends "layouts/base.html" %}
{% block title %}
    Dashboard
{% endblock %}
{% if is_header %}
    {% include "layouts/_header.html" %}
{% endif %}
{% block
content %}
    <div class="mt-5 py-5">
        <div class="mt-3" id="welcome-dashboard">
            <div class="card shadow border-0 bg-body-secondary bg-opacity-50 mb-4">
                <div class="card-body text-center py-5">
                    <h1 class="card-title text-sm">👋 Welcome to Dashboard 🖥️
                    </h1>
                    <h2>
                        🤵🏻
                        {{ user.fullname | capitalize }}
                    </h2>

                </div>
            </div>
        </div>
        {% include "layouts/_addLink.html" %}
        {% if (user.role == "admin") 
            or(user.role == "mod") %}
            {% include "layouts/_searchUser.html" %}
        {% endif %}
        {% include "layouts/_searchLink.html" %}
    </div>
    {% if (user.role == "admin") 
        or(user.role == "mod") %}
        {% include "layouts/_editUserModal.html" %}
        {% include "layouts/_deleteUserModal.html" %}
    {% endif %}

    {% include "layouts/_editLinkModal.html" %}
    {% include "layouts/_deleteLinkModal.html" %}

    {% include "layouts/_messages.html" %}

{% endblock %}
{% block script_files %}
    <script src="js/auth.js"></script>
    <script src="js/linkTable.js"></script>
    {% if (user.role == "admin") 
        or(user.role == "mod") %}
        <script src="js/userTable.js"></script>
    {% endif %}
{% endblock %}