{% extends "layouts/base.html" %}
{% block title %}
  Redirect
{% endblock %}
{% block header %}
  {% if is_header %}
    {% include "layouts/_header.html" %}
  {% endif %}
{% endblock %}
{% block content %}
  <div class="p-5 mt-5">
    <div class="mt-5">
      <div class="card">
        <div class="card-body">
          <p class="card-text">REKLAM ALANI This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">REKLAM ALANI This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
  {# <script>

    // 3 saniye sonra başka bir sayfaya yönlendir
    setTimeout(function () {
      window.location.href = "{{ originalUrl }}";
    }, 2000);
  </script> #}
{% endblock %}}