{% extends "layouts/base.html" %}

{% block title %}
    Verify Email
{% endblock %}
{% block header %}
    {% if is_header %}
        {% include "layouts/_header.html" %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="p-5 rounded bg-body-tertiary position-absolute top-50 start-50 translate-middle">
        <h1>🔑 Hesabınızı Doğrulayın</h1>
        {% if message %}
            <p class="lead">⚠️
                {{ message }}</p>
        {% else %}
            <br>
            <p class="lead">⚠️ Lütfen Link kısaltmaya başlamadan önce hesabınızı doğruladığınızdan emin olun.</p>
        {% endif %}
    </div>
{% endblock %}}